body {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    margin: 0;
}

h3 {
    margin-bottom: 0.6rem;
}

h4 {
    margin-bottom: 0.6rem;
}

a {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

#header {
    background-color: #8090b4;
    width: 100%;
    margin: 0;
    padding: 20px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 30px;
    border-right: #e4e4e4 1px solid;
}

.projects-list-project {
    display: flex;
    align-items: baseline;
}

.projects-list-project a {
    margin-left: 25px;
    margin-right: 20px;
}

.projects-list-project a {
    text-decoration: none;
}

#add-project-link.show {
    display: none;
}

#add-project-popup.show {
    display: none;
}

#add-project-popup {
    margin-top: 20px;
}

#projects-header {
    margin-top: 20px;
}

#content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
}

#page-container {
    width: 82vw;
    margin: 50px;
}

#tasks-list {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 15px;
    list-style-type: none;
}

.tasks-list-row {
    display: flex;
    justify-content: space-between;
    border-bottom: #e4e4e4 1px solid;
    padding: 5px 10px 5px 10px;
}

.tasks-list-row input {
    margin-right: 15px;
}

.tasks-list-row i {
    cursor: pointer;
    margin-left: 15px;
}

.tasks-list-left {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tasks-list-right {
    white-space: nowrap;
}

.priority-low svg {
    stroke: #6f975c;
    fill: #6f975c;
}

.priority-medium svg {
    stroke: #d2d462;
    fill: #d2d462;
}

.priority-high svg {
    stroke: #ff6361;
    fill: #ff6361;
}

#add-task-link {
    margin-left: 150px;
}

#task-modal form {
    margin-bottom: 0;
}

#task-modal article {
    width: 35vw;
}

#task-modal-id {
    display: none;
}

#task-modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

#task-modal-buttons button {
    width: fit-content;
    margin-left: 15px;
}